extends layout

block content
  .content
    h1 My Wookie Coins Balance
    p
      if user
        a(href='/user')=user.name
        |, you are the proud owner of
        |
        strong=balance
        |
        | Wookie Coins!
    p
      | This is your coin purchase history:
    table(border='1')
      tr
        each key in Object.keys(purchases[0])
          th
            strong=key
      each purchase in purchases
        tr
          each key in Object.keys(purchase)
            td=purchase[key]
    p You know you want more... 🚀
