ul(class='navigation', role='navigation')
  li.logo
    a(href='/')
      img(src='/images/wookie-coin.png')
  li
    a(href='/') Home
  if user
    li
        a(href='/balance') My Wookie Coins
    li
        a(href='/prepare-transaction') Buy Wookie Coins
  li.spacer
  if user
    li
      a(href='/logout') Logout
    li.profile
      a(href='/user')
        img.picture(src=user.picture)
  else
    li
      a(href='/login') Login
    li.profile
      img(src='/images/profile.png')
