ul(class='navigation', role='navigation')
  li.logo
    a(href='/')
      img(src='/images/scotiabank.png')
  li
    a(href='/') Home
  if user 
    li
        a(href='/balance') My Balance
    li
        a(href='/prepare-transaction') Transfer Money
  li.spacer
  if user
    li
      a(href='/logout') Logout
    li.profile
      img.picture(src=user.picture)
  else
    li
      a(href='/login') Login
    li.profile
      img(src='/images/profile.png')
