extends layout

block content
  .content
    h1 Home Page
    p
      if user
        a(href='/user')=user.name
        | , you can now check your balance and execute transactions
      else
        | Hello, please login to check your balance and strart a transaction.
