extends layout

block content
  .content
    h1 Online Shop
    p
      | Find cool offers in Online Shop. To make your payments easy and secure, we work with Wookie Bank.
    if user
      p
      | Do not wait and
      |
      a(href='/prepare-transaction')="find some cool Offer"
      | .
    else
      | Hello, please
      |
      a(href='/login') login
      |
      | to start finding cool offers in Online Shop.
    br
    br
    br
    img(src='/images/online-shop.jpeg', class="center-image")
