extends layout

block content
  .content
    h1 Wookie Coin
    p
      | Welcome to Wookie Coin, the only place to purchase the most profitable coin in a galaxy far far away.
    if user
      p
      | We are going to the moon, do not wait and
      |
      a(href='/prepare-transaction')="buy some Wookie Coins"
      | .
    else
      | Hello, please
      |
      a(href='/login') login
      |
      | to check your wookie coin balance and start making purchases.
    br
    br
    br
    img(src='/images/wookie-coin.png', class="center-image")
