extends layout

block content
  .content
    h1 Buy Wookie Coins!
    p A long time ago, we did not have Wookie Coins, but now we do! Tell us how many Wookie Coins you would like to buy and we will process the transaction with your bank.
    p.notice-message You might need to complete additional authentication steps and consent to this operation before proceeding.
    form(action='/submit-transaction', method='POST')
      if errorMessage
        p(class="error-message")=errorMessage
      p
        | How many Wookie Coins would you like to buy ?
        | &nbsp;&nbsp;&nbsp;
        input(type='number', name='transaction_amount', value=transaction_amount)
        | &nbsp;&nbsp;&nbsp;
        input(type='submit', value='Proceed 🚀')

