extends layout

block content
  .content
    h1 Special offers!
    p Simply pick your offer and proceed with the instructions to complete the payment.
    p.notice-message You might need to complete additional authentication steps and consent to this operation.
    br
    table(style='width:100%', border='0')
      tr 
        th(style="color:Tomato;font-size:20px") Kessel Run (Kessel to the Si'Klaata Cluster) for 270 $
        th(style="color:Tomato;font-size:20px") The best spanish PAELLA on this side of the Milky Way 20 $
        th(style="color:Tomato;font-size:20px") The best offers in business casual for space travel
      tr 
        th
          img(src='/images/plane-drawing.jpeg')
        th  
          img(src='/images/paella.jpeg')
        th 
          img(src='/images/sportwear.jpeg')
      tr 
        th
          form(action='/submit-transaction', method='POST')
            input(type='hidden', name='transaction_amount', value=270)
            input(type='hidden', name='description', value='Fligh from Madrid to Sofia')
            input(type='submit', value='Purchase')
        th  
          form(action='/submit-transaction', method='POST')
            input(type='hidden', name='transaction_amount', value=20)
            input(type='hidden', name='description', value='The best paella on this side of the river')
            input(type='submit', value='Purchase')          
        th 
          input(type='submit', value='Explore')
    br
    br
    if errorMessage
        p(class="error-message")=errorMessage
    p
